body{
	padding-top: 70px;
}
.jumbotron{
	color:#2C3E50;
	background: #ECF0F1;
}
.bg-c-blue{
	background: #2C3E50;
}
.navbar-dark .navbar-nav .nav-link {
    color:white;
}
.navbar-dark .navbar-brand {
    color: white;
}